* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 10px;
}
body {
  font-family: Arial, sans-serif;
  color: #ececf1;
  background-color: #0e0e10;
  display: flex;
}
main {
  width: 100%;
  max-width: 40rem;
  align-items: center;
  background-color: #1a1a1d;
  padding: 4rem;
  border-radius: 1rem;
  margin: auto;
  /* OLD WAY */
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}
.profile-image {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  display: block;
  margin: 0 auto 2rem auto;
  object-fit: cover;
}
h1 {
  color: #d7d7ff;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 0.1rem;
}
h2 {
  color: #a78bfa;
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 3rem;
}
p {
  color: #b3b3c5;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}
ul {
  list-style: none;
}
li {
  width: 100%;
  max-width: 30rem;
  background-color: #2a2a31;
  padding: 1.5rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  align-items: center;
  border-radius: 0.8rem;
  text-align: center;
  cursor: pointer;
}
li:hover {
  background-color: rgb(141, 137, 137);
  transition: 250ms all linear;
  transform: scale(0.95);
}
a {
  font-size: 1.5rem;
  color: #ececf1;
  text-decoration: none;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #1a1a1d;
  padding: 1rem;
  font-size: 1.2rem;
  color: #888888;
}
footer:hover {
  color: #ececf1;
  transition: 300ms all ease-in-out;
  transform: scale(1.2) translate(0, -10%);
}
